In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

In [2]:
df = pd.read_excel('C:\\Users\\teunj\\Desktop\\netherlands_weather_2000_2021.xlsx')
df.head()

,time,avg_temperature_C,min_temperature_C,max_temperature_C,total_precipitation_mm,avg_wind_direction_degree,avg_wind_speed_km/h,peak_wind_gust_km/h,avg_air_pressure_hPa
0,2000-01-01,6.0,3.5,8.1,1.0,NaN,9.8,NaN,1023.4
1,2000-01-02,7.2,5.4,8.7,0.0,NaN,NaN,NaN,NaN
2,2000-01-03,8.4,6.4,9.6,4.5,208.3,21.8,NaN,1020.9
3,2000-01-04,6.6,4.3,9.4,10.9,NaN,NaN,NaN,NaN
4,2000-01-05,4.4,1.4,7.4,0.0,NaN,NaN,NaN,NaN

In [3]:
df['month'] = pd.to_datetime(df['time']).dt.month
df['year'] = pd.to_datetime(df['time']).dt.year
df=df.groupby(['year','month'],as_index=False).mean()

In [4]:
df.head(12)

,year,month,avg_temperature_C,min_temperature_C,max_temperature_C,total_precipitation_mm,avg_wind_direction_degree,avg_wind_speed_km/h,peak_wind_gust_km/h,avg_air_pressure_hPa
0,2000,1,4.338710,1.729032,6.561290,1.329032,236.792308,16.460000,NaN,1023.352632
1,2000,2,5.841379,2.537931,8.941379,3.531034,237.852632,17.788000,NaN,1017.541667
2,2000,3,6.825806,3.361290,10.112903,2.558065,224.666667,14.375000,NaN,1018.920000
3,2000,4,9.963333,5.186667,14.753333,1.306667,125.983333,13.578947,NaN,1007.789474
4,2000,5,14.735484,9.274194,20.022581,2.735484,146.050000,12.595652,NaN,1014.841667
5,2000,6,16.050000,10.060000,21.073333,2.006667,240.170000,11.800000,NaN,1019.392308
6,2000,7,15.522581,11.641935,19.548387,3.180645,233.536364,10.373077,NaN,1012.711538
7,2000,8,17.425806,11.593548,22.809677,1.400000,160.366667,8.513043,NaN,1018.609524
8,2000,9,15.813333,12.110000,19.946667,2.290000,177.666667,10.725926,NaN,1013.411538
9,2000,10,11.309677,7.819355,14.812903,3.403226,186.257692,16.450000,NaN,1012.215385
10,2000,11,7.790000,5.430000,10.076667,3.920000,189.685714,18.054545,NaN,1003.168182
11,2000,12,5.041935,2.745161,6.977419,2.951613,166.232143,17.510000,NaN,1008.213793

In [5]:
df.round(2)

,year,month,avg_temperature_C,min_temperature_C,max_temperature_C,total_precipitation_mm,avg_wind_direction_degree,avg_wind_speed_km/h,peak_wind_gust_km/h,avg_air_pressure_hPa
0,2000,1,4.34,1.73,6.56,1.33,236.79,16.46,NaN,1023.35
1,2000,2,5.84,2.54,8.94,3.53,237.85,17.79,NaN,1017.54
2,2000,3,6.83,3.36,10.11,2.56,224.67,14.38,NaN,1018.92
3,2000,4,9.96,5.19,14.75,1.31,125.98,13.58,NaN,1007.79
4,2000,5,14.74,9.27,20.02,2.74,146.05,12.60,NaN,1014.84
...,...,...,...,...,...,...,...,...,...,...
248,2020,9,15.08,9.79,20.56,2.18,189.31,10.95,26.98,1015.94
249,2020,10,11.29,8.14,14.40,3.48,175.06,14.31,34.06,1009.38
250,2020,11,8.89,5.34,12.15,1.95,176.41,12.49,29.33,1021.03
251,2020,12,5.55,2.97,7.75,3.45,183.41,13.36,30.34,1004.77
252,2021,1,2.70,-3.50,5.70,0.00,226.30,7.20,16.70,1007.90

In [6]:
df.to_csv(r'C:\\Users\\teunj\\Desktop\Weather_Month.csv', index = False)